.nav_header {
    height: 80px;
    justify-content: space-between;
    display: flex;
    align-items: end;
}

body {
    font-family: Raleway;
    margin: 0;
    padding-left: 40px;
}

input {
    font-weight: bold;
}

a {
    text-decoration: none;
}

.but_head {
    width: 25%;
    display: flex;
    align-items: end;
    height: 97%;
}

.link_one, .link_two {
    color: black;
    font-size: 1.2em;
    height: 100%;
    width: 50%;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    align-items: end;
    justify-content: center;
}

.link_one:hover, .link_two:hover {
    border-top: 5px solid #0065FC;
}

a:hover {
    color: #0065FC;
}

.logo {
    width: 80px;
    padding: 0;
}

h2, .h3_heb {
    font-weight: normal;
}

.p_f {
    display: inline;
}

button {
    background-color: #0065FC;
    border: none;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 14px;
    font-weight: bold;
}

.li_heb {
    width: 30%;
}

.li_pop {
    width: 90%;
}

li {
    list-style: none;
}

.filtres, form, .end_header {
    display: flex;
    align-items: flex-start;
}

.filtres {
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.nav_header {
    justify-content: space-between;
}

.li_fil {
    padding: 10px;
}

.fil {
    list-style: none;
    display: inline-block;
    width: 100%;
}

.heb, .art_pop, .art_act, .li_fil {
    display: inline;
    border:1px solid grey;
    border-radius: 20px;
    margin-right: 10px;
}

h1.title {
    margin-top: 60px;
}

ul.act {
    padding: 0;
}

.p_f {
    margin: 10px;
}

.fas, .fa-solid {
    color: #0065FC;
    margin-left: 10px;
}

.fas.fa-map-marker-alt {
    margin-left: 0;
}

.icon {
    background-color: #F2F2F2;
    padding: 13px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.fa-map-marker-alt {
    color: black;
}

input {
    padding: 12px;
}

.li_fil:hover {
    background-color: #DEEBFF;
}

.fa-info {
    border:1px solid grey;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 100%;
    margin-right: 10px;
    margin-left: 0;
    margin-top: 10px;
}

.hebergement {
    height: 60%;
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

.pop {
    width: 40%;
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

.heb {
    box-shadow: 2px 2px 2px grey;
    border: 5px solid white;
    overflow: hidden;
    display: flex;
    background-color: white;
    height: 200px;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    width: 95%;
}

.div_heb {
    border:1px solid #F2F2F2;
    background-color: #F2F2F2;
    border-radius: 30px;
    float: left;
    width: 60%;
    margin-bottom: 50px;
}

.div_pop {
    border:1px solid #F2F2F2;
    background-color: #F2F2F2;
    border-radius: 30px;
    width: 30%;
    float: right;
    margin-right: 30px;
    margin-bottom: 50px;
}

.div_heb_pop {
    display: inline;
    gap: 10px;
}

.carte {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding-left: 30px;
}

.écrit_carte {
    margin: 0px;
    padding: 0px;
}

.fa-star {
    margin: 0px;
}

.grey_star {
    color: grey;
}

.carte_pop {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    padding: 0;
}

.art_pop {
    box-shadow: 2px 2px 2px grey;
    border: 5px solid white;
    background-color: white;
    height: 135px;
    overflow: hidden;
    display: flex;
    margin: 0px;
    margin-bottom: 30px;
    padding: 0px;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 60%;
    position: relative;
}

.star {
    display: flex;
    position: absolute;
    bottom: 5%;
}

img {
    object-fit: cover;
}

.h2_heb, .h2_pop, .h2_act, .h3_heb, .h3_pop {
    font-size: 1em;
    color: black;
    padding: 0px;
    margin-top: 0px;
    margin-left: 10px;
    font-weight: bold;
}

.h3_heb, .h3_pop {
    font-size: 0.8em;
    font-weight: normal;
}

.first {
    margin-left: 10px;
}

.act {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 80px;
}

.p_heb {
    font-weight: bold;
}

.art_act {
    box-shadow: 2px 2px 2px grey;
    border: 0px solid white;
    height: 400px;
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

.img_act {
    height: 85%;
    margin: 0px;
    padding: 0px;
}

.div_foot {
    background-color: #F2F2F2;
    display: flex;
    align-items: flex-start;
    width: 94%;
}

.content_foot {
    margin-top: 30px;
    width: 30%;
    margin-left: 100px;
}

.h2_foot {
    font-size: 1em;
    color: black;
    padding: 0px;
    margin-top: 0px;
    margin-left: 0px;
    font-weight: bold;
}

.h3_foot {
    font-size: 0.8em;
    color: black;
    padding: 0px;
    margin-top: 0px;
    font-weight: normal;
}

.title {
    font-size: 1.5em;
    font-weight: bold;
}

.inside {
    margin-left: 30px;
}

.fa-chart-line {
    float: right;
    margin-left: 70px;
    margin-top: 28px;
}

.div_title {
    display: flex;
    align-items: flex-start;
}

.li_act {
    width: 23%;
}

i[class="fa fa-magnifying-glass"] {
    display: none;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .div_heb_pop {
        display: flex;
        flex-direction: column;
    }

    .but_head {
        width: 50%;
    }

    .li_fil {
        padding: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .div_heb {
        width: 95%;
    }

    .div_pop {
        width: 95%;
    }

    .carte_pop {
        flex-direction: initial;
        gap: 20px;
    }

    .h2_pop {
        font-size: 0.9em;
    }

    .li_pop {
        width: 30%;
    }

    .div_title {
        width: 95%;
    }

    .fa-chart-line {
        margin-left: 425px;
    }

    .art_act {
        height: 250px;
    }
}

@media screen and (max-width: 768px) {
    .logo {
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .input {
        width: 80%;
    }

    .search {
        display: none;
    }

    i[class="fa fa-magnifying-glass"] {
        display: block;
        padding: 1px;
        background-color: #0065FC;
        border: none;
        color: white;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 14px;
        font-weight: bold;
    }

    body {
        padding-left: 0;
    }

    .link_one:hover {
        border-bottom: 2px solid #F2F2F2;
    }

    .li_pop {
        width: 93%;
    }

    .nav_header {
        display: flex;
        flex-direction: column;
        margin-bottom: 90px;
    }

    .but_head {
        text-align: center;
        display: flex;
        align-items: flex-start;
        width: 100%;
        margin-left: 0;
        margin-bottom: 30px;
    }

    .link_one {
        font-size: 1em;
        padding-bottom: 20px;
        border-bottom: 2px solid #F2F2F2;
    }

    .link_one:hover, .link_two:hover {
        border-bottom: 2px solid #0065FC;
        border-top: 0px solid #0065FC;
    }

    .act {
        padding: 0;
        margin-left: 20px;
    }

    .link_two {
        font-size: 1em;
        padding-bottom: 20px;
        border-bottom: 2px solid #F2F2F2;
    }

    .title {
        font-size: 1.5em;
        margin-left: 20px;
    }
    
    .s_title {
        font-size: 1.2em;
        margin-left: 20px;
    }

    .filtres {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }

    .h3_f {
        margin-bottom: 0px;
    }

    .fil {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding: 0;
    }

    form {
        margin-left: 20px;
    }

    .end_header {
        margin-left: 20px;
    }

    .li_fil {
        display: flex;
        align-items: center;
        width: 39%;
        margin: 0px;
        padding: 5px;
    }

    .h1.title {
        margin-top: 0;
    }

    .p_f {
        font-size: 0.5em;
    }

    .div_heb_pop {
        display: flex;
        flex-direction: column-reverse;
    }

    .div_pop {
        margin: 0;
        padding: 0;
        width: 100%;
        border-radius: 0%;
    }

    .fa-chart-line {
        margin-left: 110px;
    }

    .div_heb, section {
        background-color: white;
        border: 0px;
        margin: 0;
        padding: 0;
        width: 99%;
        border-radius: 0%;
        display: flex;
        flex-direction: column;
    }

    .carte_pop {
        margin-left: 20px;
    }

    .p_heb {
        color: white;
    }

    .carte {
        padding: 0;
        justify-content: center;
    }

    .li_heb {
        width: 90%;
    }

    .li_act {
        width: 95%;
    }

    .art_act {
        height: 200px;
    }

    .div_foot {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .content_foot {
        width: 90%;
        margin-top: 30px;
        margin-left: 20px;
    }

    .heb {
        width: 100%;
    }
}
